<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
    <cameraInit x="0" y="0"/>
    <cameraDisplacement value="3" />
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <scene>
    <Map file="map1_tiledV0_17.tmx"/>
    <Map file="Map2.tmx"/>
  </scene>
 
  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <playerRect  x="64" y="576" width="16" height="32" />
    <playerPos  x="64" y="576" />
    <x_speed value="2" />
    <y_speed value="0" />
    <actual_x_speed value="0" />
    <actual_y_speed  value="0" />
    <stopped_speed value="0" />
    <d_to_ground value="0" />
    <landed value="false" />

    <nextFrameLanded value="false" />

    <collisionControlcolliding wallFront="false" wallBack="false" wallTop="false" wallDown ="false"/>

  </player>
</config>