<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
    <cameraInit x="0" y="0"/>
    <cameraDisplacement value="3" />
    <cameraOffset left_x="300" right_x="150"/>
    
    <cameraLimits_map1 y_max="1346" />
    <cameraLimits_map2 y_max="2112" x_max="17148"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <scene>
    <Map file="map1_tiledV0_17.tmx"/>
    <Map file="Map2.tmx"/>
  </scene>
 
  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <!--Player Rect and pos-->
    <playerRect  x="64" y="576" width="14" height="30" />
    <playerPos  x="64" y="576" />
    
   
    <!--Player Speeds-->
    <gravity_speed value="1" />
    <y_max_speed value="4"/>
    <x_speed value="2" />
    <y_speed value="-12" />
    <actual_x_speed value="0" />
    <actual_y_speed  value="0" />
    <stopped_speed value="0" />
  
    <!--Player Landed-->
    <d_to_ground value="0" />
    <landed value="false" />
    <!--Double Jump-->>
    <doubleJump value="true"/>
    <doubleJump_delay value="13"/>
    <doubleJump_counter value="0"/>
    <nextFrameLanded value="false" />

    <!--Player Death-->>
    <dead boolDead="false" deadDelay="20" deadCounter="0" />

    <maximumDead_Y map1="800" map2="1200"/>
    <!--God Mode-->>
    <godMode value="false"/>

    <collisionControlcolliding wallFront="false" wallBack="false" wallTop="false" wallDown ="false"/>
    <!--Collision adjusters-->>
    <xCollisionAdjuster x="3"/>
    <vCollision_controller y="8"/>
    <folder>textures/adventure.png</folder>
    
  </player>
</config>