<!-- Config file for the game -->

<config>
  <app>
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
    <cameraInit x="0" y="0"/>
    <cameraDisplacement value="3" />
    <cameraOffset left_x="300" right_x="150"/>
    
    <cameraLimits_map1 y_max="1346" />
    <cameraLimits_map2 y_max="2112" x_max="17148"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="2"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <scene>
    <Map file="map1_tiledV0_17.tmx"/>
    <Map file="Map2.tmx"/>
  </scene>
 
  <audio>
      <music>
        <folder>audio/music/</folder>
        <song name="lvl_1_the_cave.ogg"/>
        <song name="lvl_2_the_mountain.ogg"/>

      </music>
   </audio>
  <map>
    <folder>maps/</folder>
  </map>

  <player>
    <!--Player Rect and pos-->
    <playerRect  x="64" y="576" width="20" height="30" />
    <playerPos  x="64" y="576" />
    
    <!--Player Speeds-->
    <Jumpforce value="5.00"/>
    <gravity value="0.1"/>
    <Currentacceleration value="0.10"/>
    <Maxspeed x="3.00" y="3.00"/>
  
    <!--Player Bools Movement-->
    <ToMoveRight value="false" />
    <ToMoveLeft value="false" />
    <ToMoveUp value="false" />
    <ToMoveDown value="false" />

    <MovingRight value="false" />
    <MovingLeft value="false" />
    <MovingUp value="false" />
    <MovingDown value="false" />

    <lookingRight value="false" />

    <!--Player Landed-->
    <landed value="false" />
    <!--Double Jump-->>
    <doubleJump value="true"/>
    <nextFrameLanded value="false" />

    <!--Player Death-->>
    <dead boolDead="false" deadDelay="20" deadCounter="0" />

    <maximumDead_Y map1="800" map2="1200"/>
    <!--God Mode-->>
    <godMode value="false"/>

    <collisionControlcolliding wallFront="false" wallBack="false" wallTop="false" wallDown ="false"/>
    <!--Collision adjusters-->>
    <xCollisionAdjuster x="3"/>
    <vCollision_controller y="8"/>
    <folder>textures/adventure.png</folder>
    
  </player>
</config>